{% for team in page %}
    <div class="col-md-3 mt-1 mb-1">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">[{{ team.id }}] {{ team.name }}</h4>
                {% if team.is_college_team %}
                    <span class="badge bg-primary">College Team</span>
                {% else %}
                    <span class="badge bg-secondary">Non-College Team</span>
                {% endif %}
                <h6 class="text-muted card-subtitle mb-2">{{ team.abbrev }}</h6><a class="card-link" href="{% url 'team' team.id %}" ">Team Info</a>
            </div>
        </div>
    </div>
{% endfor %}
