{% extends 'main/base.html' %}
{% load static %}
{% load main_filters %}
{% block title %}
    <!-- <link rel="stylesheet" href="{% static 'main/css/players/upgrade.css' %}"> -->
{% endblock %}
{% block content %}
{% load custom_tags %}

        
<div class="container">
    <form action="/player/upgrade/{{ player.id }}/" method="post">
        {% csrf_token %}
            <!-- upgrades -->
           <input name="id" type="hidden" value="{{ player.id }}">
            <!-- cart/price details -->
            <div class="card mt-2">
                <div class="card-header">
                    <h5 class="mb-0">My Cart</h5>
                    <p id="status" class="mb-0"></p>
                </div>
                <div class="card-body">
                    <p class="card-text mb-0">My Cash<br><b>$<span id="cash">0</b></span></p>
                    <p class="card-text mb-0">Spending<br><b>$<span id="price">0</b></span></span></p>
                    <p class="card-text mb-0">Leftover<br><b>$<span id="cashLeft">0</span></b></p>
                    <hr>
                    <!-- Continue/False-Submit Button -->
                    <button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#myModal">
                        Purchase
                    </button>
                    <!-- Confirmation Modal -->
                    <div class="modal" id="myModal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                            <!-- Modal header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Confirm Purchase</h4>
                            </div>
                            <!-- Modal body -->
                            <div class="modal-body">
                                <p class="mb-4"><b>Are you sure you want to continue with this upgrade?</b></p>
                                <ul class="container list-group mt-2" id="cartList" style="list-style-type: none; padding: 0px; margin: 0px;">
                                </ul>
                                <p class="mt-4"><b>Total Price: </b><span id="confirmationPrice"></span></p>
                            </div>
                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <input type="submit" value="Purchase" id="submitButton" class="btn btn-success btn-sm" hx-post="/upgrades/validate/" data-bs-dismiss="modal" hx-trigger="click" hx-target="#upgrade-result" hx-swap="innerHTML"]>
                                <button type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal">Cancel</button>
                            </div>
                            </div>
                        </div>
                      </div>
                    <!-- Errors & Messages -->
                    <hr>
                    <div class="container">
                        <span id="upgrade-result"></span>
                    </div>
                </div>
            </div>
        <input name="id" type="hidden" value="{{ player.id }}">
        <ul class="nav nav-tabs" id="upgradeTabs" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="attributes-tab" data-bs-toggle="tab" data-bs-target="#attributes" type="button" role="tab" aria-controls="attributes" aria-selected="true">Attributes</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="badges-tab" data-bs-toggle="tab" data-bs-target="#badges" type="button" role="tab" aria-controls="badges" aria-selected="false">Badges</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="tendencies-tab" data-bs-toggle="tab" data-bs-target="#tendencies" type="button" role="tab" aria-controls="tendencies" aria-selected="false">Tendencies</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="hotzone-tab" data-bs-toggle="tab" data-bs-target="#hotzones" type="button" role="tab" aria-controls="hotzones" aria-selected="false">Hotzones</button>
            </li>
        </ul>
<div class="tab-content" id="upgradeTabsContent">
            <div class="tab-pane fade show active" id="attributes" role="tabpanel" aria-labelledby="attributes-tab">
                        
            <!-- attributes -->
<div class="mt-2 row">
    <!-- finishing attributes -->
    <div class="col-md-6 col-xl-3 mb-4">
        <div style="height: 750px;">
            <div class="card-body" style="padding-bottom: 0px;padding-top: 0px;">
                <div class="row align-items-center no-gutters">
                    <div class="col me-2">
                        <div class="text-uppercase text-primary fw-bold text-xs mb-1">
                            <span class="text-white" style="font-size: 12px;">Finishing Attributes</span>
                        </div><hr>
                        <div class="text-white h5 mb-0" style="margin-top: -6px;">
                            {% for field in upgrade_player_form %} 
                                {% if field.label in finishing_attributes %}         
                                    <span class="ml-0" style="font-size: 10px; text-decoration: none; text-transform: capitalize;">
                                        <span class="
                                            {% if field.name in player.primary_attributes %}
                                                text-success
                                            {% elif field.name in player.secondary_attributes %}
                                                text-primary
                                            {% else %}
                                                text-danger
                                            {% endif %}  
                                        ">
                                            {{ field.label }}
                                        </span>
                                    </span>                                         
                                    {{ field|addclass:"form-control form-control-sm mt-1 mb-1 attributeUpgrade" }}
                                    {{ field.errors }}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <!-- shooting attributes -->
<div class="col-md-6 col-xl-3 mb-4">
    <div style="height: 750px;">
        <div class="card-body" style="padding-bottom: 0px;padding-top: 0px;">
            <div class="row align-items-center no-gutters">
                <div class="col me-2">
                    <div class="text-uppercase text-primary fw-bold text-xs mb-1">
                        <span class="text-white" style="font-size: 12px;">Shooting Attributes</span>
                    </div><hr>
                    <div class="text-white h5 mb-0" style="margin-top: -6px;">
                        {% for field in upgrade_player_form %} 
                            {% if field.label in shooting_attributes %}         
                                <span class="ml-0" style="font-size: 10px; text-decoration: none; text-transform: capitalize;">
                                    <span class="
                                        {% if field.name in player.primary_attributes %}
                                            text-success
                                        {% elif field.name in player.secondary_attributes %}
                                            text-primary
                                        {% else %}
                                            text-danger
                                        {% endif %}  
                                    ">
                                        {{ field.label }}
                                    </span>
                                </span>                                         
                                {{ field|addclass:"form-control form-control-sm mt-1 attributeUpgrade" }}
                                {{ field.errors }}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- playmaking attributes -->
<div class="col-md-6 col-xl-3 mb-4">
    <div style="height: 750px;">
        <div class="card-body" style="padding-bottom: 0px;padding-top: 0px;">
            <div class="row align-items-center no-gutters">
                <div class="col me-2">
                    <div class="text-uppercase text-primary fw-bold text-xs mb-1">
                        <span class="text-white" style="font-size: 12px;">Playmaking Attributes</span>
                    </div><hr>
                    <div class="text-white h5 mb-0" style="margin-top: -6px;">
                        {% for field in upgrade_player_form %} 
                            {% if field.label in playmaking_attributes %}         
                                <span class="ml-0" style="font-size: 10px; text-decoration: none; text-transform: capitalize;">
                                    <span class="
                                        {% if field.name in player.primary_attributes %}
                                            text-success
                                        {% elif field.name in player.secondary_attributes %}
                                            text-primary
                                        {% else %}
                                            text-danger
                                        {% endif %}  
                                    ">
                                        {{ field.label }}
                                    </span>
                                </span>                                         
                                {{ field|addclass:"form-control form-control-sm mt-1 attributeUpgrade" }}
                                {{ field.errors }}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                <!-- defensive attributes -->
<div class="col-md-6 col-xl-3 mb-4">
    <div style="height: 750px;">
        <div class="card-body" style="padding-bottom: 0px;padding-top: 0px;">
            <div class="row align-items-center no-gutters">
                <div class="col me-2">
                    <div class="text-uppercase text-primary fw-bold text-xs mb-1">
                        <span class="text-white" style="font-size: 12px;">Defensive Attributes</span>
                    </div><hr>
                    <div class="text-white h5 mb-0" style="margin-top: -6px;">
                        {% for field in upgrade_player_form %} 
                            {% if field.label in defense_attributes %}         
                                <span class="ml-0" style="font-size: 11px; text-decoration: none; text-transform: capitalize;">
                                    <span class="
                                        {% if field.name in player.primary_attributes %}
                                            text-success
                                        {% elif field.name in player.secondary_attributes %}
                                            text-primary
                                        {% else %}
                                            text-danger
                                        {% endif %}  
                                    ">
                                        {{ field.label }}
                                    </span>
                                </span>                                         
                                {{ field|addclass:"form-control form-control-sm mt-1 attributeUpgrade" }}
                                {{ field.errors }}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
            </div>
    
    <div class="tab-pane fade" id="badges" role="tabpanel" aria-labelledby="badges-tab">
            <!-- badges -->
        <div class="mt-2 row">
                <!-- finishing badges -->
                <div class="col-md-6 col-xl-3 mb-4">
                    <div style="height: 1030px;">
                        <div class="card-body" style="padding-bottom: 0px;padding-top: 0px;">
                            <div class="row align-items-center no-gutters">
                                <div class="col me-2">
                                    <div class="text-uppercase text-primary fw-bold text-xs mb-1">
                                        <span class="text-white" style="font-size: 12px;">Finishing Badges</span>
                                    </div><hr>
                                    <div class="text-white h5 mb-0" style="margin-top: -6px;">
                                        {% for field in upgrade_player_form %} 
                                            {% if field.label in finishing_badges %}         
                                            <span class="ml-0" style="font-size: 11px; text-decoration: none; text-transform: capitalize;">
                                            <span class="
                                                {% if field.name in primary_badges %}
                                                    text-success
                                                {% elif field.name in secondary_badges %}
                                                    text-primary
                                                {% else %}
                                                    text-danger
                                                {% endif %}
                                            ">
                                                    {{ field.label }}
                                                </span>                                         
                                                {{ field.errors }}
                                                {{ field|addclass:"form-control form-control-sm mt-1 badgeUpgrade" }}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- shootings badges -->
                <div class="col-md-6 col-xl-3 mb-4">
                    <div style="height: 1030px;">
                        <div class="card-body" style="padding-bottom: 0px;padding-top: 0px;">
                            <div class="row align-items-center no-gutters">
                                <div class="col me-2">
                                    <div class="text-uppercase text-primary fw-bold text-xs mb-1">
                                        <span class="text-white" style="font-size: 12px;">Shooting Badges</span>
                                    </div><hr>
                                    <div class="text-white h5 mb-0" style="margin-top: -6px;">
                                        {% for field in upgrade_player_form %} 
                                            {% if field.label in shooting_badges %}         
                                        <span class="ml-0" style="font-size: 11px; text-decoration: none; text-transform: capitalize;">
                                            <span class="
                                                {% if field.name in primary_badges %}
                                                    text-success
                                                {% elif field.name in secondary_badges %}
                                                    text-primary
                                                {% else %}
                                                    text-danger
                                                {% endif %}
                                            ">
                                                    {{ field.label }}
                                                </span>                                         
                                                {{ field.errors }}
                                                {{ field|addclass:"form-control form-control-sm mt-1 badgeUpgrade" }}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- playmaking badges -->
                <div class="col-md-6 col-xl-3 mb-4">
                    <div style="height: 1030px;">
                        <div class="card-body" style="padding-bottom: 0px;padding-top: 0px;">
                            <div class="row align-items-center no-gutters">
                                <div class="col me-2">
                                    <div class="text-uppercase text-primary fw-bold text-xs mb-1">
                                        <span class="text-white" style="font-size: 12px;">Playmaking Badges</span>
                                    </div><hr>
                                    <div class="text-white h5 mb-0" style="margin-top: -6px;">
                                        {% for field in upgrade_player_form %} 
                                            {% if field.label in playmaking_badges %}         
                                        <span class="ml-0" style="font-size: 11px; text-decoration: none; text-transform: capitalize;">
                                            <span class="
                                                {% if field.name in primary_badges %}
                                                    text-success
                                                {% elif field.name in secondary_badges %}
                                                    text-primary
                                                {% else %}
                                                    text-danger
                                                {% endif %}
                                            ">

                                                    {{ field.label }}
                                                </span>                                         
                                                {{ field.errors }}
                                                {{ field|addclass:"form-control form-control-sm mt-1 badgeUpgrade" }}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- defensive badges -->
                <div class="col-md-6 col-xl-3 mb-4">
                    <div style="height: 1030px;">
                        <div class="card-body" style="padding-bottom: 0px;padding-top: 0px;">
                            <div class="row align-items-center no-gutters">
                                <div class="col me-2">
                                    <div class="text-uppercase text-primary fw-bold text-xs mb-1">
                                        <span class="text-white" style="font-size: 12px;">Defensive Badges</span>
                                    </div><hr>
                                    <div class="text-white h5 mb-0" style="margin-top: -6px;">
                                        {% for field in upgrade_player_form %} 
                                            {% if field.label in defense_badges %}         
                                        <span class="ml-0" style="font-size: 11px; text-decoration: none; text-transform: capitalize;">
                                            <span class="
                                                {% if field.name in primary_badges %}
                                                    text-success
                                                {% elif field.name in secondary_badges %}
                                                    text-primary
                                                {% else %}
                                                    text-danger
                                                {% endif %}
                                            ">
                                                    {{ field.label }}
                                                </span>                                         
                                                {{ field.errors }}
                                                {{ field|addclass:"form-control form-control-sm mt-1 badgeUpgrade" }}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
 
    <div class="tab-pane fade" id="hotzones" role="tabpanel" aria-labelledby="hotzones-tab">
    <div class="mt-2 row">
        <!-- hotzones -->
        <div class="col-md-12 mb-4">
            <div class="card-body">
                <div class="row align-items-center no-gutters">
                    <div class="col me-2">
                        <div class="text-uppercase text-primary fw-bold text-xs mb-1">
                            <span class="text-white" style="font-size: 12px;">Hotzones</span>
                        </div><hr>
                        <div class="h5 mb-0">
{% for field in upgrade_player_form %}
    {% if field.label in league_config.initial_hotzones %}
        <label for="{{ field.id_for_label }}" class="text-white" style="font-size: 11px;">{{ field.label }}</label>
        {{ field|addclass:"form-control form-control-sm mt-1" }}
        {{ field.errors }}
    {% endif %}
{% endfor %}
                                    </select>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

            <div class="tab-pane fade" id="tendencies" role="tabpanel" aria-labelledby="tendencies-tab">
                <div class="col-md-12 col-xl-12 mb-4">
                    <div style="height: 1420px;">
                        <div class="card-body" style="padding-bottom: 0px;padding-top: 0px;">
                            <div class="row align-items-center no-gutters">
                                <div class="col me-2">
                                    <div class="text-uppercase text-primary fw-bold text-xs mb-1">
                                        <span class="text-white" style="font-size: 12px;">Tendencies</span>
                                    </div><hr>
                                    <div class="container">
                                        <div class="row">
                                            {% for field in upgrade_player_form %} 
                                                {% if field.label in initial_tendencies %}     
                                                    <div class="col-md-3">
                                                        <div class="text-white h5 mb-0" style="margin-top: -6px;">
                                                            <span class="ml-0 mt-1 mb-1" style="font-size: 10px; text-decoration: none; text-transform: capitalize;">{{ field.label }}</span>    
                                                            {{ field.errors }}
                                                            {{ field|addclass:"form-control form-control-sm mt-1 tendencyUpgrade" }}
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
 <!-- scripts -->
    <script>
        const attributePrices = {{ attribute_prices|safe }};
        const badgePrices = {{ badge_prices|safe }};
        const badgeAttributes = {{ badge_attributes|safe }};
        const cash = {{ player.cash }};
        const primaryAttributes = {{ primary_attributes|safe }};
        const secondaryAttributes = {{ secondary_attributes|safe }};
        const primaryBadges = {{ primary_badges|safe }};
        const secondaryBadges = {{ secondary_badges|safe }};
    </script>
    <script src="{% static 'main/js/players/updatePrice.js' %}"></script>
{% endblock %}
