{% extends 'main/base.html' %}
{% load main_filters %}

{% block content %}
<div class="container mt-5">
    <div class="text-center">
        <img src="{{ team.logo }}" alt="Team logo" class="rounded-circle mb-4" style="height: 200px; width: 200px;">
        <h1 class="mb-4">{{ team.name }}</h1>
        <span class="badge badge-pill {% if team.plays_in_main_league %}badge-success{% else %}badge-secondary{% endif %}">
            {% if team.plays_in_main_league %}Division 1{% else %}Division 2{% endif %}
        </span>
    </div>

    <div class="card mt-5">
        <div class="card-body">
            <h4 class="card-title">{{ team.manager }}</h4>
            <h6 class="card-subtitle mb-2 text-muted">General Manager</h6>
            <p class="card-text">Total Salary: ${{ total_salary }} / ${{ hard_cap }}</p>
        </div>
    </div>

<div class="container mt-5">
    <h2 class="fw-bold">Players</h2>
    <ul class="list-group">
        {% regroup team.player_set.all by primary_position as players_by_position %}
        {% for group in players_by_position reversed %}
            {% if group.grouper %}
                {% if group.list|length > 1 %}
                    {% for player in group.list|dictsort:"secondary_position" %}
                        <li class="list-group-item">
                            {{ player.first_name }} {{ player.last_name }} (
                            {% if player.secondary_position %}
                                {{ player.secondary_position }} - {{ player.primary_position }}
                            {% else %}
                                {{ player.primary_position }}
                            {% endif %}
                            )
                        </li>
                    {% endfor %}
                {% else %}
                    <li class="list-group-item">
                        {{ group.list.0.first_name }} {{ group.list.0.last_name }} (
                        {{ group.list.0.primary_position }}
                        {% if group.list.0.secondary_position %}
                            - {{ group.list.0.secondary_position }}
                        {% endif %}
                        )
                    </li>
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>
</div>
