{% extends 'main/base.html' %}
{% load main_filters %}

{% block content %}
<div class="container mt-5">
    <div class="text-center">
        <img src="{{ team.logo }}" alt="Team logo" class="rounded-circle mb-4" style="height: 200px; width: 200px;">
        <h1 class="mb-4">{{ team.name }}</h1>
        <span class="badge badge-pill {% if team.plays_in_main_league %}badge-success{% else %}badge-secondary{% endif %}">
            {% if team.plays_in_main_league %}Division 1{% else %}Division 2{% endif %}
        </span>
    </div>

    <div class="card mt-5">
        <div class="card-body">
            <h4 class="card-title">{{ team.manager }}</h4>
            <h6 class="card-subtitle mb-2 text-muted">General Manager</h6>
            <p class="card-text">Total Salary: ${{ total_salary }} / ${{ hard_cap }}</p>
        </div>
    </div>

    <div class="container mt-5">
        <h2 class="fw-bold">Players' Performance</h2>
        <ul class="list-group">
            {% for position in ['PG', 'SG', 'SF', 'PF', 'C'] %}
                <li class="list-group-item">
                    {% for player in team.player_set.filter(primary_position=position) %}
                        <span class="badge badge-primary badge-pill">{{ player.ppg }}</span>
                        {{ player.first_name }} {{ player.last_name }} ({{ player.primary_position }})
                    {% endfor %}
                </li>
            {% endfor %}
        </ul>

        <div class="mt-4">
            <h5>Total team PPG:</h5>
            <p class="lead">{{ total_ppg }}</p>
        </div>
    </div>
</div>
{% endblock %}
