{% extends 'main/base.html' %}
{% block content %}
<div class="container mt-5">
    <style>
        /* This targets only carousel images */
        .carousel .carousel-item img {
            max-height: 100%;
            max-width: 100%;
            object-fit: cover;
        }
        /* media query for devices with max-width of 600px */
        @media (max-width: 600px) {
            .carousel, .carousel-item, .carousel-item img {
                height: 100px; 
                width: 100%;
            }
        }
        /* media query for devices with min-width of 600px */
        @media (min-width: 601px) {
            .carousel, .carousel-item, .carousel-item img {
                height: 200px;
                width: 100%;
            }
        }
        /* custom media query for devices with min-width of 992px (large screens) */
        @media (min-width: 992px) {
            .custom-col-lg-6 {
                flex: 0 0 50%;
                max-width: 50%;
            }
        }
    </style>
    <div class="row">
        <div class="col-12 custom-col-lg-6">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://media.discordapp.net/attachments/1121122264700694568/1137571951137804460/image.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://cdn.discordapp.com/attachments/1121122264700694568/1137571949774643200/image.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://cdn.discordapp.com/attachments/1121122264700694568/1137571950747721769/image.png" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
        <!-- Widget buttons -->
            <div class="row mt-3">
                <div class="col-4">
                    <div class="d-flex align-items-center justify-content-center bg-white p-3 mb-3 rounded">
                        <svg class="bi bi-book" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                            <!-- svg path -->
                        </svg>
                        <a class="fw-bold ml-2" href="https://docs.google.com/document/d/1-LFcW0o3gd2dFQfndKdcluNPbTHH1Is8RfqlQ0I2Efc/edit?usp=sharing" style="font-size: 15px; text-decoration: none; text-transform: capitalize; color: #000;">
                            League Rules
                        </a>
                    </div>
                </div>
                <div class="col-4">
                    <div class="d-flex align-items-center justify-content-center bg-white p-3 mb-3 rounded">
                        <svg class="bi bi-diagram-3" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                            <!-- svg path -->
                        </svg>
                        <a class="fw-bold ml-2" href="https://docs.google.com/spreadsheets/d/1qUznaty2JqBNB18RoqFS-0HxmZF3jEftKrULtr8994Y/edit?pli=1#gid=0" style="font-size: 15px; text-decoration: none; text-transform: capitalize; color: #000;">
                            Player Rankings
                        </a>
                    </div>
                </div>
                <div class="col-4">
                    <div class="d-flex align-items-center justify-content-center bg-white p-3 mb-3 rounded">
                        <svg class="bi bi-pie-chart" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                            <!-- svg path -->
                        </svg>
                        <a class="fw-bold ml-2" href="/stats" style="font-size: 15px; text-decoration: none; text-transform: capitalize; color: #000;">
                            Player Statistics
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 custom-col-lg-6">
         <!-- Documents -->
            <div class="card text-center" style="height: 400px; background-color: #877b53; color: #fff;">
                <div class="card-body" style="padding-bottom: 0px;padding-top: 0px;">
                    <div class="row align-items-center no-gutters">
                        <div class="col me-2">
                            <div class="text-uppercase text-primary fw-bold text-xs mb-1">
                                <span style="font-size: 12px; color: white;">PLAYERS</span>
                            </div><hr>
                            <div class="h5 mb-0" style="margin-top: -6px;">
                                {% if players %}
                                    {% for player in players %}
                                        <svg class="bi bi-person mr-0" width="0.75em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                                            <!-- svg path -->
                                        </svg>
                                        <div class="text-center">
                                            <a class="fw-bold ml-0 mb-0" href="{% url 'player' player.id %}" style="font-size: 10px; text-decoration: none; text-transform: capitalize; color: #fff;">
                                                <span style="font-size: 15px;">({{ player.id }}) </span>
                                                <span style="font-size: 15px;">{{ player.first_name }} {{ player.last_name }}</span>
                                            </a>
                                        </div>
                                        <!-- Player headshot -->
                                        <div class="text-center">
                                            {% if player.headshot %}
                                                <img src="{{ player.headshot }}" alt="{{ player.first_name }} {{ player.last_name }}" style="width: 200px; height: 200px; display: block; margin-left: auto; margin-right: auto;">
                                            {% else %}
                                                <img src="/static/default_headshot.jpg" alt="{{ player.first_name }} {{ player.last_name }}" style="width: 100px; height: 100px; display: block; margin-left: auto; margin-right: auto;">
                                            {% endif %}
                                        </div>
                                        <!-- Player details -->
                                        <p style="font-size: 15px;">Position: {{ player.primary_position }}</p>
                                        <p style="font-size: 15px;">Salary: {{ player.salary }}</p>
                                    {% endfor %}
                                    <hr style="margin-bottom: 2px;">
                                {% else %}
                                    <p style="font-size: 12px;">No players available.</p>
                                    <hr style="margin-bottom: 2px;">
                                    <a class="fw-bold ml-0" href="{% url 'create_player' %}" style="font-size: 10px; text-decoration: none; text-transform: capitalize; color: #fff;">Create New Player</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Recent Transactions -->
<div class="row mt-4">
    <div class="col-12">
        <div class="card text-center">
            <div class="card-header">
                Recent Transactions
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
        <th scope="col">ID</th>
        <th scope="col">Player</th>
        <th scope="col">From Team</th>
        <th scope="col">To Team</th>
        <th scope="col">Transaction Type</th>
        <th scope="col">Date</th>
    </tr>
</thead>
<tbody>
    {% for transaction in transactions %}
    <tr>
        <th scope="row">{{ transaction.id }}</th>
        <td>{{ transaction.player.first_name }} {{ transaction.player.last_name }}</td>
        <td>{{ transaction.from_team.name }}</td>
        <td>{{ transaction.to_team.name }}</td>
        <td>{{ transaction.get_transaction_type_display }}</td>
        <td>{{ transaction.timestamp }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6">
            <h2 class="leaders-heading">Leaders - PPG</h2>
            <hr class="divider">
            <div class="leaders">
        <!--Enter Later-->
        </div        
        </div>
        <div class="col-lg-6">
            <h2 class="standings-heading">Top 3 Teams by Record</h2>
            <hr class="divider">
            <div class="table-responsive">
                <table class="standings-table table table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">TEAM</th>
                            <th scope="col">W</th>
                            <th scope="col">L</th>
                            <th scope="col">PCT</th>
                            <th scope="col">GB</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for team, team_data in current_season.standings.items %}
                            {% if forloop.counter <= 3 %}  {# Display only the top 3 teams #}
                                <tr>
                                    <td>{{ team }}</td>
                                    <td>{{ team_data.wins }}</td>
                                    <td>{{ team_data.losses }}</td>
                                    <td>{{ team_data.percentage }}</td>
                                    <td>{{ team_data.games_behind }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
