{% extends 'main/base.html' %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-uppercase fw-bold">DASHBOARD</h1><span style="font-size: 14px;">{{ current_user.discord_tag }}</span>
    <p><span class="fw-bold text-warning">MOTD </span> <i style="font-size: 12px;">"{{ motd }}"</i></p>
    <style>
        /* This targets only carousel images */
        .carousel .carousel-item img {
            max-height: 100%;
            max-width: 100%;
            object-fit: cover;
        }

        /* media query for devices with max-width of 600px */
        @media (max-width: 600px) {
            .carousel, .carousel-item, .carousel-item img {
                height: 100px; 
                width: 100%;
            }
        }

        /* media query for devices with min-width of 600px */
        @media (min-width: 601px) {
            .carousel, .carousel-item, .carousel-item img {
                height: 200px;
                width: 100%;
            }
        }
    </style>
    <div class="row">
       <div class="col-md-6 col-xl-6">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://i.imgur.com/hUXLGz9.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://i.imgur.com/eIaq9yv.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="..." class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
            <!-- Widget buttons -->
            <div class="row mt-3">
                <div class="col-4">
                    <div class="d-flex align-items-center justify-content-center bg-white p-3 mb-3 rounded">
                        <svg class="bi bi-book" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                            <!-- svg path -->
                        </svg>
                        <a class="fw-bold ml-2" href="https://docs.google.com/document/d/1QjDQI3xFdaIh7lZItrOvjA2Xf957a1MyiElKKpiGk/edit?usp=sharing" style="font-size: 15px; text-decoration: none; text-transform: capitalize; color: #000;">
                            League Rules
                        </a>
                    </div>
                </div>
                <div class="col-4">
                    <div class="d-flex align-items-center justify-content-center bg-white p-3 mb-3 rounded">
                        <svg class="bi bi-diagram-3" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                            <!-- svg path -->
                        </svg>
                        <a class="fw-bold ml-2" href="https://docs.google.com/spreadsheets/d/1RjDQI3xFdaIh7lZItrOvjA2Xf957a1MyiElKKpiGk/edit?usp=sharing" style="font-size: 15px; text-decoration: none; text-transform: capitalize; color: #000;">
                            Player Rankings
                        </a>
                    </div>
                </div>
                <div class="col-4">
                    <div class="d-flex align-items-center justify-content-center bg-white p-3 mb-3 rounded">
                        <svg class="bi bi-pie-chart" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                            <!-- svg path -->
                        </svg>
                        <a class="fw-bold ml-2" href="https://docs.google.com/spreadsheets/d/1FjDQI3xFdaIh7lZItrOvjA2Xf957a1MyiElKKpiGk/edit?usp=sharing" style="font-size: 15px; text-decoration: none; text-transform: capitalize; color: #000;">
                            Player Statistics
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-6">
            <!-- Documents -->
            <div class="card text-center" style="height: 400px; background-color: #877b53; color: #fff;">
                <div class="card-body" style="padding-bottom: 0px;padding-top: 0px;">
                    <div class="row align-items-center no-gutters">
                        <div class="col me-2">
                            <div class="text-uppercase text-primary fw-bold text-xs mb-1">
                                <span style="font-size: 12px; color: white;">CAREERS</span>
                            </div><hr>
                            <div class="h5 mb-0" style="margin-top: -6px;">

                                    {% if players %}
                            {% for player in players %}
                                <svg class="bi bi-person mr-0" width="0.75em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                                    <!-- svg path -->
                                </svg>
                                <div class="text-center">
                                    <a class="fw-bold ml-0 mb-0" href="{% url 'player' player.id %}" style="font-size: 10px; text-decoration: none; text-transform: capitalize; color: #fff;">
                                        <span style="font-size: 15px;">({{ player.id }}) </span>
                                        <span style="font-size: 15px;">{{ player.first_name }} {{ player.last_name }}</span>
                                    </a>
                                </div>
                                <!-- Player headshot -->
                                <div class="text-center">
                                    {% if player.headshot %}
                                        <img src="{{ player.headshot }}" alt="{{ player.first_name }} {{ player.last_name }}" style="width: 200px; height: 200px; display: block; margin-left: auto; margin-right: auto;">
                                    {% else %}
                                        <img src="/static/default_headshot.jpg" alt="{{ player.first_name }} {{ player.last_name }}" style="width: 100px; height: 100px; display: block; margin-left: auto; margin-right: auto;">
                                    {% endif %}
                                </div>
                                <!-- Player details -->
                                <p style="font-size: 15px;">Position: {{ player.primary_position }}</p>
                                <p style="font-size: 15px;">Salary: {{ player.salary }}</p>
                            {% endfor %}
                            <hr style="margin-bottom: 2px;">
                        {% else %}
                            <p style="font-size: 12px;">No players available.</p>
                            <hr style="margin-bottom: 2px;">
                            <a class="fw-bold ml-0" href="{% url 'create_player' %}" style="font-size: 10px; text-decoration: none; text-transform: capitalize; color: #fff;">Start new career</a><br>
                            <svg class="bi bi-ticket-detailed" width="0.67em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                                <!-- svg path -->
                            </svg>
                        {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        <!-- League Pages -->
        <div class="col-md-6 col-xl-3 mb-4">
            <div class="" style="height: 400px;">
                <div class="" style="padding-bottom: 0px;padding-top: 0px;">
                    <div class="row align-items-center no-gutters">
                        <div class="col me-2">
                            <div class="text-uppercase text-primary fw-bold text-xs mb-1">
                                <span class="text-white" style="font-size: 12px;">LEAGUE</span>
                            </div><hr>
                            <div class="text-white h5 mb-0" style="margin-top: -6px;">
                                <svg class="bi bi-people" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z"></path>
                                </svg>
                                <a class="fw-bold" href="" style="font-size: 10px; text-decoration: none;">YouTube</a><br>
                                <svg class="bi bi-person-bounding-box" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" style="font-size: 15px;">
                                    <path d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1h-3zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5zM.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5z"></path>
                                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"></path>
                                </svg>
                                <a class="fw-bold" href="https://discord.gg/QweZVsvDxs" style="font-size: 10px; text-decoration: none;">Discord</a><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Special -->
        <div class="col-md-6 col-xl-3 mb-4">
            <div class="" style="height: 400px;">
                <div class="" style="padding-bottom: 0px;padding-top: 0px;">
                    <div class="row align-items-center no-gutters">
                        <div class="col me-2">
                            <div class="text-uppercase text-primary fw-bold text-xs mb-1">
                                <span class="text-white" style="font-size: 12px;">Permissions</span>
                            </div><hr>
                            <div class="text-white h5 mb-0" style="margin-top: -6px;">
                                {% if current_user.can_update_players %}
                                    <a class="fw-bold"href="{% url 'upgrades_pending' %}" style="font-size: 10px; text-decoration: none;">Export Pending Upgrades</a><br>
                                {% endif %}
                                {% if current_user.can_approve_trades %}
                                    <a class="fw-bold"href="{% url 'trade_panel' %}" style="font-size: 10px; text-decoration: none;">Trade Panel</a><br>
                                {% endif %}
                                <a class="fw-bold"href="{% url 'trade' %}" style="font-size: 10px; text-decoration: none;">Trade Machine</a><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
